//- default index page template for maker projects
//- bootstrap is used by default. implement mixins for other frameworks to override this
block mixin_theme
	include bootstrap_mixins.pug

//- index.pug
doctype html
html(lang="en")
	head
		title {{name}} - Coshape Project
		meta(name="description", content="Coshape Maker Projects is a creativity platform that combines customizable 3D models, instructional resources, and remixing tools for crafting zero-to-maker experiences.")
		block styles
			link(rel="stylesheet", href="/styles/bootstrap.min.css")

		include customizer.pug 


	body
		// div(id="busy_indicator")
		div.modal-backdrop(id="busy_indicator", style="opacity:0.6;")
			div.loader(id="busy_indicator", style="position:fixed; left:50%; top:40%; z-index:1000;") 

		block navbar
			//- bootstrap default navbar
			//- include navbar.pug

		div(class="container") 

			block header
				+page_header("{{name}}", "", "{{description}}")

				

			block customizer
				+row
					+col("8")
						div(id="customizer",style="height:400px;")
						// div.loader(style="position:fixed; left:50%; top:50%; z-index:1000;") 
							p processing ...
					+col("4")
						div
							label.checkbox-inline
								input(type="checkbox", value="", checked)
								| use 3D Printer
							label.checkbox-inline
								input(type="checkbox", value="", checked)
								| use Laser Cutter / CNC Router
						br

						+button_bar
							+button_large_primary("Download","download_model();")


						hr
						+panel("Customize") 
							| {{{html}}}


						hr
						
						<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><small>The 3D models are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</small></a>

			a(id="download")
			a(id="download_manual")

			hr
			+row
				+col(6)
					block instructions
						h2 Instructions
						| {{#instructions}}  
						+panel("{{title}}")
							| {{text}}
						| {{/instructions}} 

				+col(6)
					block components
						h2 Components
						+panel
							+table("Component", "Quantity")
								| {{#components}}
								+table_row("{{name}}","1")
								| {{/components}}


			block footer
				hr
				footer
					<p>Powered by <a href="https://coshape.io">coshape</a></p>

		block scripts
			script.

				function show_busy(show) {
					if (show) {
						$("#busy_indicator").show();
					} else {
						$("#busy_indicator").hide();
					}
				}

				show_busy(false);
