//- default index page template for maker projects
//- bootstrap is used by default. implement mixins for other frameworks to override this
block mixin_theme
	include bootstrap_mixins.pug

//- index.pug
doctype html
html(lang="en")
	head
		title {{name}} - Coshape Project
		meta(name="description", content="Coshape Maker Projects is a creativity platform that combines customizable 3D models, instructional resources, and remixing tools for crafting zero-to-maker experiences.")
		block styles
			link(rel="stylesheet", href="/styles/bootstrap.min.css")
		<script src="/reload/reload.js"></script>

		include customizer.pug

	body
		// div(id="busy_indicator")
		div.modal-backdrop(id="busy_indicator", style="opacity:0.6;")
			div.loader(id="busy_indicator", style="position:fixed; left:50%; top:40%; z-index:1000;")

		block navbar
			//- bootstrap default navbar
			// include navbar.pug

			div(id="edit", style="position:absolute; z-index:1; display:none;")
				button.btn.btn-sm.btn-default(type='button', onclick="XMOD.mainview.onUseTranslation()" , data-toggle="tooltip", data-placement="bottom", title="Translate")
					span.glyphicon.glyphicon-move
				button.btn.btn-sm.btn-default(type='button', onclick="XMOD.mainview.onUseRotation()" , data-toggle="tooltip", data-placement="bottom", title="Rotate")
					span.glyphicon.glyphicon-repeat
				button.btn.btn-sm.btn-default(type='button', onclick="XMOD.mainview.onUseScale()" , data-toggle="tooltip", data-placement="bottom", title="Scale")
					span.glyphicon.glyphicon-resize-full
				div(id="mydatgui")

			input.file(id="glupload", type="file", onchange="XMOD.mainview.onUpload(event)", style="display:none;")

		div(id="customizer",style="position:fixed; width:100%; height:100%; background:#fafafa; overflow: hidden;")

		div(class="container", style="position:absolute; height:100%; overflow:scroll; right:0; width: 100%; max-width:300px; background: rgba(255,255,255,0.5); border-left:solid 6px #ddd")

			// block header


			+row
				+col(12)
					+page_header("{{name}}", "", "{{description}}")

					+button_bar
						+button_primary("Download CAD Files","download_model();")


					// hr
					h3 Parameters
					| {{{html}}}
					hr

				+col(12)
					block instructions
						h3 Instructions
						| {{#instructions}}
						+panel("{{title}}")
							| {{text}}
						| {{/instructions}}

				+col(12)
					h3 Components
					+table("Component", "Quantity")
						| {{#components}}
						+table_row("{{name}}","1")
						| {{/components}}



			a(id="download")
			a(id="download_manual")

		div(style="position:absolute; bottom:0; padding: 0.5em")
			<p>Powered by <a href="https://coshape.io?o=cli">coshape</a></p>


		block scripts
			script.

				function show_busy(show) {
					if (show) {
						$("#busy_indicator").show();
					} else {
						$("#busy_indicator").hide();
					}
				}

				show_busy(false);
