<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">coshape</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			//- searchbar ...
			<form id="search_form" class="navbar-form navbar-left" >
				<div class="form-group">

				<div style="margin: 0px auto !important;">
					<div class="input-group">
						//- <div class="input-group-btn">
							// <button class="btn btn-default" type="button" aria-label="Left Align">Scan
								<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							// </button>
							// <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/model_rocket">Model Rocket</a></li>
									<li><a href="/quadrocopter">Quadrocopter</a></li>
									<li><a href="/electronics_case_arduino">Electronics Case Arduino</a></li>
									<li><a href="/servo">Servo</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/creator">Creator</a></li>
								</ul>
						//- </div>
						<input id="url_input" type="text" class="form-control" placeholder="Search for..." style="min-width: 350px; width:100%; float:right;">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->

				</div>
				<button id="btn_search" type="submit" class="btn btn-default">Go!</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				//- <li><a href="#">Sign Up</a></li>
				//- <li><a href="#">Sign In</a></li>
				<li><a href="/api/admin/login/" target="_blank"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		<div id="load_bar">
			<div></div>
		</div>
	</div><!-- /.container-fluid -->
</nav>